<!DOCTYPE html>
<html lang="{{ data.lang.lang }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ data.lang.title }}</title>
    <meta name="description" content="{{ data.lang.description }}">
    <meta name="keywords" content="{{ data.lang.keywords }}">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
</head>
<body>
    <!-- 导航栏 -->
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <h2><i class="fas fa-snowflake"></i> Snowpeak</h2>
            </div>
            <div class="nav-menu">
                <a href="/" class="nav-link">{{data.lang.home}}</a>
                <a href="/#articles" class="nav-link">{{data.lang.article}}</a>
                <a href="/#tools" class="nav-link">{{data.lang.tool}}</a>
                <a href="/{{ data.lang.lang }}/about.htm" class="nav-link">{{data.lang.about}}</a>
                {% if data.lang.lang == 'zh' %}
                <a href="/en/" class="nav-link lang-switch"><i class="fas fa-globe"></i> English</a>
                {% else %}
                <a href="/" class="nav-link lang-switch"><i class="fas fa-globe"></i> 简体中文</a>
                {% endif %}
            </div>
            <div class="nav-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>